<!DOCTYPE html>
<html lang="en">
<head>
<title>Story</title>
</head>
<body>
<h1>My Story</h1>
<p>Once upon a time,
 a girl run into the old house stand by …</p>
</body>                                                                                                                             
</html>
~                                                                                                                                         
~                                                                                                                                         
~              
